<h3> Conozca un Arreglo numpy </h3>

Utilizará el marco de datos <code>df</code> para lo siguiente:

In [ ]:
# Desde CMD ejecutar: "conda install -c anaconda pandas"

In [5]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1) trazar las primeras tres filas:

In [6]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2) obtener columna  <code> 'a'</code>

In [8]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [11]:
# Pregunta 1
# 1 punto posible (no calificable)
# Considere el marco de datos df, 
# ¿Cómo encontrarías el elemento en la segunda fila y en la primera columna?


# df.iloc[0,1]
df.iloc[1,0] 
# df[1,1]

21

In [12]:
# Pregunta 2
# 1 punto posible (no calificable)
#¿Se ejecutará el siguiente código?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<hr>
<small>Copyright &copy 2020 IBM Cognitive Class. Este cuaderno y su código fuente se publican bajo los términos de la [Licencia MIT] (https://cognitiveclass.ai/mit-license/).

</small>